.Buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;

  // border-bottom: 3px solid gray;
  color: rgb(22, 21, 21);

  margin-top: 5%;

  li {
    text-decoration: none;
    list-style: none;

    // border-bottom: 3px solid rgb(248, 241, 241);
  }
}
.container {
  display: flex;
  flex-direction: row;
  border: 2px solid #aba18b;
  background-color: #eeecec;

  justify-content: center;
}

.Text {
  width: 50%;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  background-color: #545454;
  color: #e8e8e8;
  height: 500px;
  padding-left: 5%;

  p {
    width: 50%;
    margin-left: 5%;
    height: 50px;
  }
  img {
    width: 50%;
    height: 300px;
  }
}

.Forms {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.clicked {
  // background-color:white;

  border-bottom: 4px solid #aba18b ;
}

