.rendezVousContainer{
    display:flex;
    flex-direction:column;
    padding-top: 5%;
    
}
.rendezVousHeader{
    background-color:#aba18b;
    color:#545454;
    pre{
        color:white
    }
}
strong{
    margin-right: 2%;
}
.rendezVous{
    display: flex;
    flex-direction:column;
    box-shadow: 2px 4px #c9c7c2
}
.Infos{
    background-color: #FDF9EF;
    border-radius: 4px 3px 6px / 2px 4px;
   
}

.hide{
display: none;
}
.AnnulBtn{
    margin-bottom: 5%;
    font-size: 20px;
      margin-left: 20%;
      color: rgb(43, 40, 40);
  margin-top: 3%;
    background-color: #FDF9EF;
      font-weight: bold;
      width: auto;
      height: 30px;
      max-height: 50px;
      font-family: Georgia, "Times New Roman", Times, serif;
      transition: ease-in 0.3s;
      cursor: pointer;
}