.show{
display: block;
}
.hidden{
    display: none;
}
.avocatContainer{
    width:100%
}
.rendezVous{
    z-index: 2;
   
    h1{
        background-color:#545454;
        z-index:2
    }
}
.Aside{
    width: 30%;
    margin-left:10%

}
.infos{
    margin-top: 5%;
    margin-left: 5%;
    border: 2px solid #545454;
    height: 300px;
    width:500px;
}
.comptContainer{
    display: flex;
    flex-direction:row;
    padding-top: 15%;
    padding-bottom: 15%;
    justify-content: space-evenly;
    align-items: center;
    background-color:#e8e8e8

}
.avocatComptContainer{
    background-color:#e8e8e8
}

