.show{
display: block;
}
.hidden{
    display: none;
}
.avocatContainer{
    width:100%
}
.rendezVous{
    z-index: 2;
  
   
    h1{
        background-color:#545454;
        z-index:2
    }
}
.Aside{
    width: 30%;
    margin-left:10%

}
.infos{
    margin-top: 2%;
    margin-left: 5%;
   font-size:20px;
    height: auto;
    width:500px;
    input{
        width:50%;
        background-color:#e8e8e8;
    }
    textarea{
        width:70%;
        height:100px;
        background-color: white;
        overflow: scroll;
        font-family: serif;
        font-size: 15px;
    }
    a{
        text-decoration:underline;
    }
   
}
.donnesAvocat{

    input{
        width:50%;
        background-colo:transparent;
    }
}
.annulerDiv{
    background-color:#FDF9EF;
    border-top: 2px solid #545454;
}
.comptContainer{
    display: flex;
    flex-direction:row;
    padding-top: 5%;
    padding-bottom: 15%;
    justify-content: center;
   
    background-color:#e8e8e8

}
.avocatComptContainer{
    background-color:#e8e8e8
}
@media screen and (max-width:700px){
    .comptContainer{
        flex-direction: column;
    }
    .Aside{
        width:80%;
    }
}

